Source: debile
Section: python
Priority: optional
Maintainer: Debian Débile Hackers <pkg-debile-team@lists.alioth.debian.org>
Uploaders: Paul Tagliamonte <paultag@debian.org>
Build-Depends:
 debhelper (>= 9),
 python-all,
 python-setuptools,
Standards-Version: 3.9.5
Homepage: http://debile.debian.net/
Vcs-Git: git://anonscm.debian.org/pkg-debile/debile.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-debile/debile.git
X-Python-Version: >= 2.7

Package: python-debile
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-debian,
 python-requests,
 python-yaml,
Description: set of core débile builder routines
 This package contains the core utils and libraries used by both the
 client and server modules. This contains routines for handling `dud` files,
 which are similar to .changes files, as well as a few other generic routines.
 .
 This package contains Python 2 bindings only.

Package: debile-slave
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-debile (= ${binary:Version}),
 python-dput (>= 1.7~),
 python-firehose,
 adduser,
Recommends:
 dpkg-dev,
# For dpkg-source
 libperl-critic-perl,
# for perlcritic
 desktop-file-validate,
# for d-f-v
 lintian,
 lintian4python,
# for lintian checks
 sbuild (>= 0.64~),
 schroot,
 python-schroot,
# for sbuild (and others)
 python-lxml,
 python-yaml,
# for dud file uploading
 dput-ng,
Description: slave for the débile package builder system
 The débile client/server software is designed to help moderate to
 experienced Debian package builders set up their own build infastructure
 without having to learn about the big (and quite professional) wanna-build
 software.
 .
 This contains the slave (package build node) software only.

Package: debile-master
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-debile (= ${binary:Version}),
 python-firewoes,
 python-firehose,
 python-sqlalchemy (>= 0.8.4),
 adduser,
Description: master for the débile package builder system
 The débile client/server software is designed to help moderate to
 experienced Debian package builders set up their own build infastructure
 without having to learn about the big (and quite professional) wanna-build
 software.
 .
 This contains the master (package central server) software only.
