#!/usr/bin/make -f
# Copyright (c) Paul R. Tagliamonte, MIT/Expat, 2013


PYVERS  = $(shell pyversions -r)
DEBIAN_SETUP_PY_INSTALL_ARGS = install --install-layout deb


%:
	dh $@ --with python2


override_dh_auto_clean:
	dh_auto_clean
	rm -rvf ./*.egg-info ./build


override_dh_auto_build:

# Everything's fucked, the world is fucked. Fucked fucked fucked.
# I'm moving the build logic to the install logic because crack rules.
# We need to build, install, remove build/, repeat.
#
# Uch.
#   - PRT

override_dh_auto_install:
	set -xe; \
	for py in $(PYVERS); do \
		$$py setup.py build; \
		$$py setup.py $(DEBIAN_SETUP_PY_INSTALL_ARGS) \
			--root debian/python-debile; \
		rm -rf build; \
		for setup in "master" "slave"; do \
			$$py setup.$${setup}.py build; \
			$$py setup.$${setup}.py $(DEBIAN_SETUP_PY_INSTALL_ARGS) \
				--root debian/python-debile-$$setup; \
			rm -rf build; \
		done; \
	done
	# Remove me when dh_python2 can handle this file
	rm -vf debian/*/usr/lib/python*/*-packages/*.egg-info/SOURCES.txt
