---
Users:  # Users of Debile
    - name: Matthias Klumpp
      username: mak
      key: 57DC4BD33F73E0CDBA98D22AF7EBEE8EB7982329
      email: mak@debian.org
      password: s3kr37

    - name: Debian Archive Kit
      username: dak
      key: 0000000000000000DADADA000000000000000000
      email: dak@ftp-master.tanglu.org
      password: s3kr37

Builders:  # Machines that can build
    - name: helium.buildd.tanglu.org
      key: 367D333376945BAE75CB466779A21745EC78A01D
      maintainer: mak
      password: s3kr37

Suites:
    - name: aequorea-updates
    - name: bartholomea
    - name: staging

Components:
    - name: main
    - name: contrib
    - name: non-free

Arches:
    - name: all
    - name: amd64
    - name: i386

Checks:
    - name: lintian
      source: true
      binary: true
      build: false

    - name: build
      source: false
      binary: false
      build: true

Groups:
    - name: default
      maintainer: mak

      suites:
          - suite: staging
            components:
                - main
                - contrib
                - non-free
            arches:
                - all
                - amd64
                - i386
            checks:
                - build
                - lintian
