---
Users:  # Users of Debile
    - name: Matthias Klumpp
      email: mak@debian.org
      pgp: D33A3F0CA16B0ACC51A60738494C8A5FBF4DECEB
      ssl: 0000000000000000DEADBEEF0000000000000000

    - name: Jon Severinsson
      email: jon@severinsson.net
      pgp: 32623A6F42F5DA4B0DBD5B2BCDBBA39E78415AD2
      ssl: 0000000000000000DEADBEEF0000000000000000

    - name: Debian Archive Kit
      email: dak@ftp-master.tanglu.org
      pgp: 0000000000000000DEADBEEF0000000000000000
      ssl: 0000000000000000DEADBEEF0000000000000000

Builders:  # Machines that can build
    - name: helium.buildd.tanglu.org
      maintainer: mak@debian.org
      pgp: 367D333376945BAE75CB466779A21745EC78A01D
      ssl: 0000000000000000DEADBEEF0000000000000000

    - name: caesium.buildd.tanglu.org
      maintainer: jon@severinsson.net
      pgp: 517884F17B4964C46EEE3D56FFF33867C01E4D5A
      ssl: 9B625D4D2B2C6913216B0DB3251141B32DA8E82F

Suites:
    - name: aequorea-updates
    - name: bartholomea
    - name: staging

Components:
    - name: main
    - name: contrib
    - name: non-free

Arches:
    - name: all
    - name: amd64
    - name: i386

Checks:
    - name: lintian
      source: true
      binary: true
      build: false

    - name: build
      source: false
      binary: false
      build: true

Groups:
    - name: default
      maintainer: mak@debian.org

      suites:
          - suite: staging
            components:
                - main
                - contrib
                - non-free
            arches:
                - all
                - amd64
                - i386
            checks:
                - build
                - lintian
